.tooltiptext table {
    all: unset
}


.tooltiplink{
    vertical-align: super;
    text-decoration: none;
    font-size: 7px;
    color:  rgb(29, 110, 4) !important;
    font-family: Arial, Helvetica, sans-serif;
}
.tooltip:link{
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    padding-bottom: -3px;
    border-bottom: 3px dotted rgb(29, 110, 4);
}


.tooltiptext{
    width: fit-content;
    z-index: 2;
    font-size: 13px;
    line-height: 1em;
    font-size: 100 !important;
    background-color: #555;
    font-weight: 300;
}


.tooltip .tooltiptext {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;


}

/* Position tooltip below text by default */
.tooltip .tooltiptext {
    bottom: 150%;
    left: 50%;
    margin-left: -200px;
    /* Use these properties to keep tooltip within bounds */
    left: 0;
    right: 0;
    margin: auto;
}

/* Position tooltip above text if it doesn't fit below */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    /* If tooltip doesn't fit below, position it above */
    bottom: auto;
    top: 150%;
    margin-top: 5px;
    /* Use these properties to keep tooltip within bounds */
    left: 0;
    right: 0;
    margin: auto;
}

/* Add max-height to tooltip to ensure it doesn't overflow */
.tooltip .tooltiptext {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: scr;
}

.tooltiptext {
    color: inherit;
    text-decoration: inherit;
}
.tooltiptext {
    padding: 7px;
}

.tooltiptext table {
    border-collapse: separate;
    border-spacing: 10px 0;
  }

.tooltiptext thead {
    font-weight: 800;
    border-bottom: 1px solid white;
}
.tooltiptext td {
    padding: 4px 0;
  }
