
.tooltiptext table {
    all: unset
}


.tooltiptext  table,.tooltiptext  caption,.tooltiptext  tbody,.tooltiptext  tfoot,.tooltiptext  thead,.tooltiptext  tr, .tooltiptext th, .tooltiptext td {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    font-size: 100% !important;
    vertical-align: baseline !important;
    background: transparent !important;
    color: white !important;
}

.tooltip-player{
    text-decoration: underline;
    text-decoration-color: rgb(80, 93, 82);
    text-underline-offset: 8px;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.tooltip .tooltiptext {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: scroll;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
    bottom: auto;
    top: 130%;
    margin-top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltiptext {
    position: absolute;
    padding: 7px;
    display: none;
    width: fit-content;
    z-index: 1000 !important;
    font-size: 11px !important;
    background-color: #555;
    font-weight: 300;
}

.tooltiptext table {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    border-collapse: separate;
    border-spacing: 10px 0;
    border: none;
  }

.tooltiptext thead {
    font-weight: 800 !important;
    border-bottom: 1px solid white !important;
}
.tooltiptext td {
    padding: 4px 0 !important;
}
.tooltiplink{
    font-family:'Arial Narrow', sans-serif;
    vertical-align: super;
    font-size: .5em !important;
    display: inline-block;
    line-height: .3em !important;
    padding-left: 2px !important;
    font-weight: 100 !important;
}

.tooltiplink a {
    display: inline-block;
    font-weight: 100;
}
