
.stats-tooltiptext table {
    all: unset
}


.stats-tooltiptext  table,.tooltiptext  caption,.stats-tooltiptext  tbody,.stats-tooltiptext  tfoot,.stats-tooltiptext  thead,.stats-tooltiptext  tr, .stats-tooltiptext th, .stats-tooltiptext td {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    font-size: 100% !important;
    vertical-align: baseline !important;
    background: transparent !important;
    color: white !important;
}

.tooltip-player{
    text-decoration: underline;
    text-decoration-color: rgb(80, 93, 82);
    text-underline-offset: 8px;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    margin: 0;
    padding: 0;
}

.stats-tooltip .stats-tooltiptext {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: scroll;
    word-break: normal;
    overflow-wrap: normal;
    font-style: normal;
}


.stats-tooltip:hover .stats-tooltiptext {
    visibility: visible;
    display:inline-block !important;
    bottom: auto;
    top: 150%;
    margin-top: 5px;
    left: -20%;
    right: 0;
    margin: auto;
}

.stats-tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block !important;
    line-height: 1;

}
.stats-tooltiptext {
    visibility: hidden ;
    display:none;
    position: absolute;
    padding: 7px;
    width: fit-content;
    z-index: 1000 ;
    font-size: 11px !important;
    background-color: #555;
    font-weight: 300;
}

.stats-tooltiptext table {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    border-collapse: separate;
    border-spacing: 10px 0;
    border: none;
  }

.stats-tooltiptext thead {
    font-weight: 800 !important;
    border-bottom: 1px solid white !important;
}
.stats-tooltiptext td {
    padding: 4px !important;
}
.tooltiplink{
    display: inline-block;
    padding-left: 1px;

}

.tooltiplink a {
    text-decoration: none ;
    font-weight: 100;
    line-height: 1;

}

.tooltiplink a img {
    opacity:1;
    display: inline;
    border-radius: 1px ;
    margin:0 1px;
    width:  .8em !important;
    height: .8em;
    padding:0;
    border: none;
}
